:root {
    --btn-size: 30pt;
	--textbox-size: 30pt;
}

#bottom-bar {
	position: fixed;
	bottom: 40px;
	left: 0;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

#main-logo {
    width: 350px;
}

.open-anim #main-logo {
    opacity: 0;
    animation: logo-back-down .8s cubic-bezier(.7,.89,.35,1.31) forwards;
}

@keyframes logo-back-down {
    0% {
        opacity: 0;
        transform: perspective(1000px) translateY(-160px) translateZ(200px) rotateX(-15deg);
    }

    100% {
        opacity: 1;
        transform: perspective(1000px) translateY(0) translateZ(0) rotateX(0deg);
    }
}

.open-anim #top-bar > #main-actions > *, .open-anim #top-bar > #accounts, .open-anim #bottom-bar > #launch-options-bar > *:not(#main-actions) {
	opacity: 0;
	animation: fade-expand-extras .3s linear 1.6s forwards;
}

#launch-options-bar, #launch-options-bar > *, #top-bar, #top-bar > * {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	width: 220px;
}

#launch-options-bar, #top-bar {
	width: calc(100vw - 80px);
	justify-content: space-between;
}

#top-bar {
    height: 55px;
}

#launch-options-bar #main-actions {
	width: 340px;
}

#play-button {
    width: 250px; /*120px*/
	z-index: 2;
}

.open-anim #play-button {
    animation: fade-slide-up .8s cubic-bezier(.17,.67,.42,1.55) .5s forwards;
	opacity: 0;
}

#servers-button, #worlds-button {
    width: 40px;
}

.open-anim #servers-button {
	animation: fade-slide-right .3s cubic-bezier(.17,.67,.57,1.42) 1.3s forwards;
    opacity: 0;
}

.open-anim #worlds-button {
	animation: fade-slide-left .3s cubic-bezier(.17,.67,.57,1.42) 1.3s forwards;
    opacity: 0;
}

@keyframes fade-slide-up {
	0% {
		transform: translateY(60px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-slide-right {
	0% {
		transform: translateX(-30px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fade-slide-left {
	0% {
		transform: translateX(30px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

#instances, #accounts, #stats {
	gap: 20px;
	padding: 8px;
	border-radius: 10px;
	border: transparent 1px solid;
	transition: border .2s ease-in-out, background .2s ease-in-out, transform .2s ease-in-out;
}

#instances:hover, #accounts:hover {
	background: #ffffff20 !important;
	transform: scale(1.01) !important;
}

#instances:active, #accounts:active {
	background: #ffffff34 !important;
	border: #ffffff32 1px solid !important;
	transform: scale(0.98) !important;
}

#instances::after, #accounts::after {
  content: "";
  position: relative;
  right: 6px;
  top: -6px;

  width: 11px;
  height: 8px;

  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;

  transform: translateY(-50%) rotate(45deg);
  filter: drop-shadow(1px 0px #000A)
  			drop-shadow(2px 0px #000A);
}

#instance-icon, #account-icon {
	height: 35px;
	width: 35px;
	image-rendering: pixelated;
}

#instance-details, #account-details, #stats {
	font: 12px 'Minecraftia', sans-serif;
	text-shadow: 2px 2px #000A;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3px;
	max-width: 100%;
	width: 100%;
	min-width: 0;
}

#stats {
	max-width: unset;
	width: 220px;
	min-width: unset;
	align-items: flex-end;
}

#instance-details h1, #account-details h1, #instance-details h2, #account-details h2, #stats h1, #stats h2 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
}

#instance-details h2, #account-details h2, #stats h2 {
	font-size: 10px;
	color: #e3e3e3;
}

#toast {
	position: fixed;
	top: 70px;
	left: 50%;
	transform: translateX(-50%);

	font: 12px 'Minecraftia', sans-serif;
	text-shadow: 2px 2px #000A;
	transition: opacity .3s linear;
	opacity: 0;
}

#toast.show {
  opacity: 1;
}

#top-bar > #main-actions {
	justify-content: flex-end;
}

#top-bar > #main-actions > * {
	width: 40px;
}

@keyframes fade-expand-extras {
	0% {
		transform: scale(0.93);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}






#progress-container {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 80px);
    animation: fadeInProgress 0.5s ease forwards .2s;
	opacity: 0;
}

#progress-status {
    color: white;
    font: 10pt 'Minecraftia', sans-serif;
    margin-bottom: 8px;
	margin-left: 3px;
    text-shadow: 2px 2px 0 #000;
}

#progress-bar {
    width: 100%;
    height: 20px;
    background: #7a7a7a;
    border: 2px solid #7a7a7a;
}

#progress-fill {
    height: 100%;
    background: #00ff00;
    transition: width 0.2s linear;
}

#main-logo {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.logo-active {
    transform: translateY(-50px);
}

@keyframes fadeInProgress {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}