    #setupOptions {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#setupOptions-action-bar {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
}

#setupOptions-action-bar>.mc-button {
    width: 130px;
}

#setupOptions > h2 {
    font: 14px 'Minecraftia', sans-serif;
    text-shadow: 2px 2px #000A;

    color: #b6b6b6;
}

#skin-box {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#skin-box > *:nth-child(2) {
    margin-top: 23px;
    width: 160px;
}

/* taken and modified from https://codepen.io/codesbyk/pen/QeQYbx. all credit given. */
.moto {
    margin-top: 10px;
    font: 18px 'Minecraftia', sans-serif;
    text-shadow: 2px 2px #000A;

    color: #d5d5d5;
    font-weight: 300;
    width: 100%;
}

.slidingVertical {
    display: inline;
    text-indent: 15px;
}

.slidingVertical span {
    -webkit-animation: bottomToTop 9s cubic-bezier(0.6, 0.05, 0.4, 1) infinite 0s;
    animation: bottomToTop 5.5s cubic-bezier(0.6, 0.05, 0.4, 1) infinite 0.5s;
    color: #ffffff;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}


.slidingVertical span:nth-child(2) {
    animation-delay: 2s;

}

.slidingVertical span:nth-child(3) {
    animation-delay: 4s;
}

/*topToBottom Animation*/

@-webkit-keyframes bottomToTop {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }

    10% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }

    25% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }

    30% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}