    #setupOptions {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#setupOptions-action-bar {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
}

#setupOptions-action-bar>.mc-button {
    width: 130px;
}

#setupOptions > h2 {
    font: 14px 'Minecraftia', sans-serif;
    text-shadow: 2px 2px #000A;

    color: #b6b6b6;
}

#skin-box {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#skin-box > *:nth-child(2) {
    margin-top: 23px;
    width: 160px;
}