#setupLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 15px;
    height: 100%;
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

#setupLinksContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    overscroll-behavior: none;

    padding-top: 6px;
    padding-bottom: 40px;

    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 3%,
        black 90%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 3%,
        black 90%,
        transparent 100%
    );
}

#setupLinksContainer::-webkit-scrollbar {
    width: 8px;
}

#setupLinksContainer::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 4px;
}

#setupLinksContainer::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
}

#setupLinks-action-bar {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
}

#setupLinks-action-bar>.mc-button {
    width: 130px;
}

#setupLinks > h2 {
    font: 14px 'Minecraftia', sans-serif;
    text-shadow: 2px 2px #000A;

    color: #b6b6b6;
}