/* Taken from https://codepen.io/joexmdq/pen/EOMLzg. All credit given. Modified slightly */
/* Minecraft Style Button */
.mc-button {
	min-height: var(--btn-size);
	height: var(--btn-size);
	width: calc(var(--btn-size) * 10);
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	user-select: none;
	-webkit-user-select: none;

    font: 12pt 'Minecraftia', sans-serif;

	background: #999 url('/assets/ui/button.png') center / cover;
	image-rendering: pixelated;
	border: 2px solid #000;
}
.mc-button.borderless {
	background: none;
	border: none;
	box-shadow: none !important;
}
.mc-button[type="destructive"] {
	filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(-50deg);
}

.mc-button[disabled="true"] {
	background: #1D1D1D url('/assets/ui/button_disabled.png') center / cover;
}

/* Mouse over */
.mc-button:not([disabled="true"]):hover .title {
	background-color: rgba(100, 100, 255, .45);
	text-shadow: 2px 2px #202013CC;
	color: #FFFFA0;
}
.mc-button.borderless:not([disabled="true"]):hover .title {
	background-color: unset;
	color: unset;
	transform: scale(1.05);
}
.mc-button:not([disabled="true"]):active .title {
	box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
}
.mc-button.borderless:not([disabled="true"]):active .title {
	transform: scale(0.99);
}
/* Button title */
.mc-button .title {
	width: 100%; height: 100%;
	padding-bottom: .3em;

	display: flex;
	align-items: center;
	justify-content: center;
	
	color: #DDD;
	text-shadow: 2px 2px #000A;
	box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
}
.mc-button.borderless .title {
	box-shadow: none !important;
	transition: transform ease 0.2s;
}
.mc-button[type="destructive"] .title {
	filter: sepia(0%) saturate(33%) brightness(143%) hue-rotate(50deg);
}
.mc-button[disabled="true"] .title {
	color: #b2b2b2;
	box-shadow: none;
}
.mc-button[disabled="true"] img {
	filter: brightness(70%);
}
.mc-button.borderless img {
	transform: scale(1.2);
}
/* Others */
.mc-button.full { width: 100%; height: 100%; }
.mc-button.lang img { width: 26px; height: 26px; }
.mc-button.lang .title { padding-bottom: 0; }